<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a href="#" class="navbar-brand">
            <img class="logo-image" src="../../assets/img/single_musical_note.png" alt="">
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="">Space</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Bands</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Musicians</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">About</a>
            </li>
        </ul>
    </div>
</nav>