<div id="content" class="container-fluid">
    <section class="row section-row bg-instruments d-flex justify-content-center align-items-start pt-5 ">
        <div class=" px-3 d-flex flex-column align-items-center ">            
            <h1>Welcome to Music Space</h1>
            <p class="fs-5">Where you find bands and its members to know what to expect</p>
            <button class="btn btn-dark  font-medium p-3 fs-4 ">Access space</button>
        </div>
    </section>

    <section class="row section-row-sm py-5 justify-content-center align-items-center bg-sec">
        <div class="col-md-4 d-flex justify-content-center">
            <div class="image-frame">
                <img src="../../assets/img/sound_wave_world.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-8 card-text">
            <header class="card-header row justify-content-around px-5 align-items-center seebg-1">
                <div class="col-4 p-0 d-flex align-items-center icon-image">
                    <img src="../../assets/img/music_head.jpg" alt="">
                </div>
                <div class="col-4 d-flex align-items-center fs-3 ">
                    <span>Check Musicians</span>
                </div>
            </header>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, harum. Iure minus amet inventore ipsa, ipsam ipsum quos ea dignissimos fugiat! Porro ratione debitis ullam illo, pariatur vero optio cumque.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, harum. Iure minus amet inventore ipsa, ipsam ipsum quos ea dignissimos fugiat! Porro ratione debitis ullam illo, pariatur vero optio cumque.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, harum. Iure minus amet inventore ipsa, ipsam ipsum quos ea dignissimos fugiat! Porro ratione debitis ullam illo, pariatur vero optio cumque.
            </div>
        </div>
    </section>
    <section class="row section-row-sm py-5 justify-content-center align-items-center bg-third">
        <div class="col-lg-3 col-md-6 col-sm-8 card-text">
            <header class="card-header row justify-content-around px-5  align-items-center ">
                <div class="col-4 p-0 d-flex align-items-center icon-image">
                    <img src="../../assets/img/music_head.jpg" alt="">
                </div>
                <div class="col-4 d-flex align-items-center fs-3 ">
                    <span>Check Musicians</span>
                </div>
            </header>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <div class="image-frame">
                
                <img src="../../assets/img/sound_wave_world.jpg" alt="">
            </div>
        </div>
        
    </section>
</div>