<div id="content" class="container-fluid">
    <section class="row section-row bg-instruments d-flex justify-content-center align-items-start pt-5 ">
        <div class=" px-3 d-flex flex-column align-items-center ">            
            <h1>Welcome to Music Space</h1>
            <p class="fs-5">Where you find bands and its members to know what to expect</p>
            <button class="btn btn-dark  font-medium p-3 fs-4 ">Access space</button>
        </div>
    </section>

    <section class="row section-row-sm py-5 justify-content-around  align-items-center bg-sec px-2">
        <div class="col-11 col-md-4 col-lg-5 d-flex justify-content-center">
            <div class="image-frame">
                <img src="../../assets/img/sound_wave_world.jpg" alt="">
            </div>
        </div>
        <div class="col-md-4 col-lg-5 m-5 p-2 card-text">
            <app-card-info></app-card-info>
        </div>
    </section>
    
    <section class="row section-row-sm py-5 justify-content-around  align-items-center bg-sec px-2">
        <div class="col-md-4 col-lg-5 m-5 p-2 card-text">
            <app-card-info></app-card-info>
        </div>
        <div class="col-11 col-md-4 col-lg-5 d-flex justify-content-center">
            <div class="image-frame">
                <img src="../../assets/img/sound_wave_world.jpg" alt="">
            </div>
        </div>
    </section>
</div>